.ant-layout-sider-children {
  height: calc(100vh - 64px);
  overflow-y: scroll;
}
.ant-layout-header {
  height: 64px;
  padding: 0 20px;
  line-height: 64px;
  background: #001529;
}
.tenant-top {
  float: left;
  color: #ffffff;
  font-size: 16px;
  margin:  0 0 0 0;
  height: 64px;
  line-height: 64px;
  min-width: 180px;
}
.tenant-top {
  float: left;
  line-height: 64px;
}
.logo {
  width: 40px;
  height: 40px;
  margin: 12px 15px 0 0;
  border-radius: 50%;
  float: left;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  float: left;
  color: #ffffff;
}

.trigger:hover {
  color: #1890ff;
}

.site-layout-background {
  background: #fff;
  min-height: 100%;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 6px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.07);
  background: #d2d2d2;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  /*滚动条里面小方块*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.07);
  background: #bababa;
  cursor: pointer;
}
